body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1C1C21;
}

h1 {
  color: #1C1C21;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  margin: 0;
}

.bg.active::after {
  content: '';
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: #FFF3EB;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.wrapper .blockLeft {
  margin-right: 32px;
}

.wrapper .blockRight h1 {
  margin-bottom: 64px;
  width: 453px;
}

.wrapper .blockRight span {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #1C1C21;
  opacity: 0.5;
}

.btn {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  background: #FF8B37;
  border-radius: 12px;
  width: 296px;
  height: 64px;
  border: 0;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn:hover {
  background: #FFAC70;
  transition: .3s;
}
.btn:active {
  background: #E87928;
  transition: .3s;
}

.gameScreen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.menu {
  display: none;
}

.close {
  display: none;
}

.questionBlock {
  background: #F5F5F7;
  height: 100%;
  flex: 1;
  padding-left: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionBlock h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  width: 64%;
  margin: 133px 0 0 0;
}

.wrapVariantAnswer {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  margin-bottom: 122px;
}

.wrapVariantAnswer .variantAnswer {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 405px;
  height: 72px;
  display: flex;
  background: url("./assets/img/inactive.svg") no-repeat;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.wrapVariantAnswer .variantAnswer.inactive {
 pointer-events: none;
}

.wrapVariantAnswer .variantAnswer.disabled {
  pointer-events: none;
}

.wrapVariantAnswer .variantAnswer.selected {
  background: url("./assets/img/selected.svg") no-repeat;
}

.wrapVariantAnswer .variantAnswer.correct {
  background: url("./assets/img/correct.svg") no-repeat;
}

.wrapVariantAnswer .variantAnswer.wrong {
  background: url("./assets/img/wrong.svg") no-repeat;
}

.wrapVariantAnswer .variantAnswer:nth-child(1) {
  margin-bottom: 32px;
}

.wrapVariantAnswer .variantAnswer:nth-child(2) {
  margin-bottom: 32px;
}

.wrapVariantAnswer .variantAnswer span{
  color: #FF8B37;
  padding-left: 37px;
  padding-right: 8px;
}

.earnedBlock {
  width: 370px
}

.earnedBlock .stepEarned {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/img/inactiveEarned.svg")center no-repeat;
  height: 40px;
  margin: 0 0 5px 0;
  width: 100%;
}

.earnedBlock .stepEarned.now {
  background: url("./assets/img/currentEarned.svg")center no-repeat;
}

.earnedBlock .stepEarned.disabled {
  opacity: .5;
}

.hidden-menu-ticker {
  display: none;
}

@media (max-width: 1265px) {
  .wrapVariantAnswer .variantAnswer:nth-child(2) {
    margin-bottom: 32px;
  }

  .wrapVariantAnswer .variantAnswer:nth-child(3) {
    margin-bottom: 32px;
  }
}
@media (max-width: 992px) {
  .questionBlock h2 {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }

  .wrapVariantAnswer .variantAnswer {
    font-size: 18px;
  }

  .wrapVariantAnswer .variantAnswer {
    width: 320px;
    height: 56px;
    background: url("./assets/img/inactive-mob.svg") no-repeat;
  }

  .wrapVariantAnswer .variantAnswer.selected {
    background: url("./assets/img/selected-mob.svg") no-repeat;
  }

  .wrapVariantAnswer .variantAnswer.correct {
    background: url("./assets/img/correct-mob.svg") no-repeat;
  }

  .wrapVariantAnswer .variantAnswer.wrong {
    background: url("./assets/img/wrong-mob.svg") no-repeat;
  }

  .questionBlock {
    padding-left: 0;
    align-items: center;
  }

  .wrapVariantAnswer {
    justify-content: center;
  }

  .earnedBlock {
    display: none;
  }

  .wrapper {
    display: flex;
    top: 0;
    left: 0;
    margin: 0;
    transform: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .wrapper svg {
    width: 288px;
  }

  .wrapper .blockRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  .wrapper .blockRight span {
    font-size: 18px;
  }

  .wrapper .blockRight h1 {
    margin-bottom: 102px;
    width: 100%;
    font-size: 32px;
    text-align: center;
  }

  .btn {
    width: 288px;
    height: 48px;
    font-size: 14px;
  }

  .earnedBlock.open {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hidden-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .btn-menu {
    color: #fff;
    position: fixed;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: left .23s;
    padding: 0;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .btn-menu span {
    display: block;
    height: 0;
    background-color: #fff;
    margin: 0;
    transition: all .1s linear .23s;
    position: relative;
  }

  .btn-menu span.first {
    margin-top: 0;
  }

  .hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
  }

  @media (max-width: 350px) {
    .questionBlock h2 {
      width: 288px;
    }
  }
}